{% extends "TodoBundle::layout.html.twig" %}

{% block title %}{% trans %}Tasks Deleted{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Tasks Deleted{% endtrans %}</h1>
    <div class="row">
        <div class="col s4 m4 l4">
            {% for tache in taches %}
                <div class="card draggable" data-id="{{ tache.id }}">
                    <div class="card-action">
                    <span class="left">
                        <a href="{{ url('todo_delete_from_corbeille',{idtache:tache.id}) }}"><i title="Delete task" class="fa fa-chain-broken"></i></a>
                    </span>
                    <span class="left mleft-10">
                        <a href="{{ url('todo_return_from_corbeille',{idtache:tache.id}) }}"><i title="Undelete task" class="fa fa-stethoscope"></i></a>
                    </span>
                    </div>
                    <div class="card-content">
                    <span class="right">
                        <div>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            {{ displayTime(tache.tempsPrevu) }}
                        </div>
                        {% if tache.tempsPasses %}
                            <div>
                                <i class="fa fa-clock-o {% if tache.tempsPasses < tache.tempsPrevu %}green-text text-lighten-2{% else %}red-text text-lighten-1{% endif %}" aria-hidden="true"></i>
                                {{ displayTime(tache.tempsPasses) }}
                            </div>
                        {% endif %}
                    </span>
                        <span class="card-title">{{ tache.nom }}</span>
                        <p class="truncate">{{ tache.description }}</p>
                    </div>
                </div>

                {% if loop.index is divisible by(5) %}
                    </div><div class="col s4 m4 l4">
                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    </script>
    {% javascripts
        '@TodoBundle/Resources/public/js/corbeille.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
