<div id="modal-new-task" class="modal">
    <div class="modal-content">
        <h4>{% trans %}New task{% endtrans %}</h4>
        <p>
            {{ form_start(form) }}
                <div class="form-control">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="form-control">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description,{'attr':{'class':'materialize-textarea'}}) }}
                </div>
                <div class="form-control">
                    {{ form_label(form.tempsPrevu) }}
                    {{ form_widget(form.tempsPrevu,{'attr':{'type':'number','min':'0'}}) }}
                </div>
                <div class="form-control">
                    {{ form_label(form.projet) }}
                    {{ form_widget(form.projet,{'attr':{'class':'browser-default'}}) }}
                </div>
                <div class="form-control">
                    {{ form_label(form.complexity) }}
                    {{ form_widget(form.complexity,{'attr':{'class':'browser-default'}}) }}
                </div>
                <div class="form-control">
                    {{ form_label(form.tacheParentes) }}
                    {{ form_widget(form.tacheParentes,{'attr':{'class':'browser-default'}}) }}
                </div>
                <div class="form-control">
                    <button class="btn" type="submit">{% trans %}Create{% endtrans %}</button>
                </div>
            {{ form_end(form) }}
        </p>
    </div>
</div>