<div class="row colonnes">
{% for colonne in colonnes %}
    <div class="col s12 m3 l3 droppable" data-etat="{{ colonne }}">
        <div class="header colonne">
            {% if colonne == "a_faire" %}
                <button class="btn-floating waves-effect orange darken-2" id="add-task"><i class="material-icons small library_add">add</i></button>
            {% endif %}
            <h3>Taches {{ getNomColonne(colonne) }}</h3>
        </div>
        {% for tache in taches[colonne] %}
            <div class="card draggable" data-id="{{ tache.id }}">
                <div class="card-action">
                    <span class="left">
                        <i title="Supprimer la tache" class="fa fa-trash-o corbeille"></i>
                    </span>
                    {% if colonne == "en_cours" %}
                    <span class="left mleft-10">
                        <i title="Vous êtes bloqué sur cette tache" class="fa fa-minus-circle blocked {% if tache.isBlocked %} red-text text-lighten-1 {% endif %}"></i>
                    </span>
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="right">
                        <div>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            {{ displayTime(tache.tempsPrevu) }}
                        </div>
                        {% if tache.tempsPasses %}
                        <div>
                            <i class="fa fa-clock-o {% if tache.tempsPasses < tache.tempsPrevu %}green-text text-lighten-2{% else %}red-text text-lighten-1{% endif %}" aria-hidden="true"></i>
                            {{ displayTime(tache.tempsPasses) }}
                        </div>
                        {% endif %}
                    </span>
                    <span class="card-title">{{ tache.nom }}</span>
                    <p class="truncate">{{ tache.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% block variables %}{% endblock variables %}