<div class="row">
{% for colonne in colonnes %}
    <div class="col s12 m3 l3 droppable" data-etat="{{ colonne }}">
        <div class="header colonne">
            {% if colonne == "a_faire" %}
                <button class="btn-floating waves-effect orange darken-2" id="add-task"><i class="material-icons small library_add">add</i></button>
            {% endif %}
            <h3>Taches {{ getNomColonne(colonne) }}</h3>
        </div>
        {% for tache in taches[colonne] %}
            <div class="card draggable" data-id="{{ tache.id }}">
                <div class="card-content">
                    <span class="right">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{ displayTime(tache.tempsPrevu) }}
                    </span>
                    <span class="card-title">{{ tache.nom }}</span>
                    <p class="truncate">{{ tache.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% block variables %}{% endblock variables %}