<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Taches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    {% stylesheets 'bundles/todo/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block header %}
        <header>
            <div data-activates="mobile-demo" class="button-collapse">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </div>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ url('todo_homepage') }}"><i class="fa fa-columns"></i> Taches</a></li>
                {% if app.user %}
                    <li><a href="{{ url('user_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ url("user_login") }}">Connexion</a></li>
                    <li><a href="{{ url("user_register") }}">Inscription</a></li>
                {% endif %}
                <li><a href="{{ url("todo_create_etat") }}">Etat des taches</a></li>
                <li>
                    <a class='dropdown-button' data-activates='drop_projets' href="{{ url("todo_add_projet") }}">{% trans %}New Project{% endtrans %}</a>
                    {{ render(controller("TodoBundle:Projet:showProjets")) }}
                </li>
            </ul>
        </header>
    {% endblock header %}

    {% block flashMessages %}
        {% if app.session.flashBag.has('success') %}
            <div class="z-depth-1 card-panel light-green">
                <i class="fa fa-close"></i>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% elseif app.session.flashBag.has('error') %}
            <div class="z-depth-1 card-panel red accent-1">
                <i class="fa fa-close"></i>
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock flashMessages %}

    {% block content %}
        {% include "TodoBundle::colonnes.html.twig" %}
    {% endblock content %}

    {% block footer %}{% endblock footer %}

    {% block modals %}{% endblock modals %}
</body>

    {% block variables %}
        {% include "TodoBundle:Tache:vars_js.html.twig" %}
    {% endblock variables %}
    {% javascripts
        '@TodoBundle/Resources/public/js/jquery-3.1.0.min.js'
        '@TodoBundle/Resources/public/js/jquery-ui.min.js'
        '@TodoBundle/Resources/public/js/jquery-clockpicker.min.js'
        '@TodoBundle/Resources/public/js/deplace_task.js'
        '@TodoBundle/Resources/public/js/colonne.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    {% block javascripts %}{% endblock javascripts %}


</html>